[Unit]
Description=webhook-manager
After=network.target

[Service]
WorkingDirectory=/usr/local/webhook-manager
ExecStart=/usr/local/webhook-manager/webhook-manager
Restart=always

[Install]
WantedBy=multi-user.target
