[Unit]
Description=webhook-api
After=network.target

[Service]
WorkingDirectory=/usr/local/webhook-api
ExecStart=/usr/local/webhook-api/webhook-api
Restart=always

[Install]
WantedBy=multi-user.target
